html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.2fr 0.2fr;
  grid-template-areas: "one one one one" "two two two two" "three three three three";
}
.one {
  grid-area: one; 
}
.two { 
  grid-area: two;

  text-align: center;
  margin: 5% 2% 2% 2%;
  padding-top: 2%;

  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);

  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}
.three {
  grid-area: three;
  text-align: center;

}

.cover-page {
    background: url("../images/coverpage-bg.jpg") center no-repeat fixed;
    background-size: cover;   
    text-align: center;
    height: 100vh;
    width: auto;

    box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
}

.cover-text {
  color: #ff5722;
  text-align: center;
  text-shadow: 0.5px 0.5px #000000;
  padding: 15% 5% 0px 5%;
}

.cover-button {
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);

  border: none;
  text-align: center;
  font-size: 20px;
  padding: 10px 25px;
  margin-top: 28%;
  border-radius: 4px;
  // cursor: pointer;
  outline: none;
  text-decoration: none !important;
  letter-spacing: 0.5px;
  color: #fff;

  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  /* unvisited link */ a:link {
  text-decoration:none;
  color: #fff;
  } /* visited link */ a:visited {
  text-decoration:none;
  color: #fff;
  } /* mouse over link */
  a:hover {
    text-decoration:none;
    color: #000000; } /* selected link */ 
  a:active {
    text-decoration:none;
    color: #fff;
  }
}

.navbar,
.navbar-default {
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
}

.blog-post__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.2fr 0.2fr;
  grid-template-areas: "one one one one" "two two two two" "three three three three";
  text-align: center; 
}
.blog-post__wrapper--one {
  grid-area: one; 

  // background: url("../images/coverpage-bg-02.jpg") center no-repeat;
  background-size: cover;   
  text-align: center;
  height: 40vh;
  width: auto;
  // box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);

  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
}

.blog-post__wrapper--two { 
  grid-area: two;
  margin: -5% 5% 5% 5%;
  padding: 5%;
  border-radius: 30px;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}
.blog-post__wrapper--three {
  grid-area: three;
  margin: 0 5% 5% 5%;
}

.blog-post__text {
  font-size: 1.2em;
  text-decoration: none !important;
  outline: none !important;
}

.blog-post__list {
  background-color: #06bcfb;
  background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);

  border: none;
  text-align: center;
  font-size: 20px;
  padding: 10px 25px;
  margin: 2% 20% 0% 20%;
  border-radius: 4px;
  // cursor: pointer;
  outline: none;
  text-decoration: none !important;
  // letter-spacing: 0.5px;
  color: #fff;

  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  /* unvisited link */ a:link {
  text-decoration:none;
  color: #fff;
  } /* visited link */ a:visited {
  text-decoration:none;
  color: #fff;
  } /* mouse over link */
  a:hover {
    text-decoration:none;
    color: #fff; } /* selected link */ 
  a:active {
    text-decoration:none;
    color: #fff;
  }
}

.profile {
  font-size: 1em;
  // font-weight: 300;
  letter-spacing: .5px;
  background:#fff;
  width: 90%;
  margin: 5% auto 5% auto;
  padding: 5%;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  // justify-content: center;
  // align-items: center;
  border-radius: 20px;

  background-color: #aee1f9;
  background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);

}

.blogpost {
  font-size: 18px;
  text-align: center;
}

.tags {
  margin-bottom: 24px;
}

.tags span.tag {
  background-color: #06bcfb;
  background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);

  // border: none;
  text-align: center;
  font-size: 20px;
  padding: 5px 15px;
  margin: 0 5% 0 0;
  border-radius: 4px;
  // cursor: pointer;
  outline: none;
  text-decoration: none !important;
  letter-spacing: 0.5px;
  color: #fff;

  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  /* unvisited link */ a:link {
  text-decoration:none;
  color: #fff;
  } /* visited link */ a:visited {
  text-decoration:none;
  color: #fff;
  } /* mouse over link */
  a:hover {
    text-decoration:none;
    color: #fff; } /* selected link */ 
  a:active {
    text-decoration:none;
    color: #fff;
  }
}

.blogpost p.body-text {
  margin-bottom: 32px;
}

p {
  line-height: 1.8;
  color: #929191;
  font-weight: 300;
}

.blogpost a {
  display: block;
  margin-bottom: 8px;
}

.blogposts a {
  display: block;
  margin-bottom: 8px;
}

// img {
//   margin-bottom: 8px;
// }

// img {
//   border-style: none;
// }

img {
  max-width: 100%;
  max-height: 100%;
  margin: 5% 0 5% 0;
  padding: 0 0 0 0;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;

  color: #ffffff;

  padding: 1%;
  text-decoration: none;
  text-align: center;

  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
} 


